name: PHP Lint

on:
  push:
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        php: ['7.1', '7.3', '7.4', '8.1', '8.2', '8.3']

    steps:
      - uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          coverage: none
          tools: none

      - name: PHP syntax check
        run: |
          php -v
          find . -name "*.php" -not -path "./vendor/*" -print0 | xargs -0 -n1 php -l
